/* 基本設定 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

/* 画面全体の背景設定 */
body {
    background-image: url('../img/team-icon-removebg-preview.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ヘッダー */
.header {
    display: flex;
    align-items: center;
    background-color: #d9e5ff;
    color: #440000;
    padding: 12px 20px;
}

.header-title {
    font-size: 1.2rem;
    font-weight: 700;
    height: 60px;
    position: relative;
    top: 15px;
}

/* ハンバーガーメニューのスタイル */
.menu-icon {
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #440000;
    border-radius: 2px;
}

/* ログインフォーム全体のコンテナ */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* ヘッダーの高さを考慮して調整 */
}

/* ログインカード */
.login-card {
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px;
}

.login-card h2 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #333;
    font-size: 1.6rem;
    font-weight: 700;
}

/* フォーム */
.login-form {
    position: relative;
    z-index: 2;
}

.form-group {
    margin-bottom: 40px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
    font-size: 0.9rem;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    outline: none;
    border-color: #8c233a;
    box-shadow: 0 0 0 3px rgba(140, 35, 58, 0.1);
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #6D4C41;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #751d30;
}